<<<<<<< Updated upstream
<<<<<<< Updated upstream
* {
	box-sizing: border-box;
}

body {
	text-align: center;
	font-size: 1.2rem;
	background-size: 100% 100%;
	background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
		0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
	background-image: radial-gradient(
			18% 28% at 24% 50%,
			#cefaffff 7%,
			#073aff00 100%
		),
		radial-gradient(18% 28% at 18% 71%, #ffffff59 6%, #073aff00 100%),
		radial-gradient(70% 53% at 36% 76%, #73f2ffff 0%, #073aff00 100%),
		radial-gradient(42% 53% at 15% 94%, #ffffffff 7%, #073aff00 100%),
		radial-gradient(42% 53% at 34% 72%, #ffffffff 7%, #073aff00 100%),
		radial-gradient(18% 28% at 35% 87%, #ffffffff 7%, #073aff00 100%),
		radial-gradient(31% 43% at 7% 98%, #ffffffff 24%, #073aff00 100%),
		radial-gradient(21% 37% at 72% 23%, #d3ff6d9c 24%, #073aff00 100%),
		radial-gradient(35% 56% at 91% 74%, #8a4ffff5 9%, #073aff00 100%),
		radial-gradient(74% 86% at 67% 38%, #6dffaef5 24%, #073aff00 100%),
		linear-gradient(125deg, #4eb5ffff 1%, #4c00fcff 100%);
}

/* section {
	display: flex;
	flex-direction: column;
	margin: 20px;
	position: absolute;
	top: 50%;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
} */

h1 {
	margin: 25px;
}

h2 {
	font-family: 'Bungee Inline', cursive;
}

h3 {
	font-family: 'Julius Sans One', sans-serif;
}

div {
	height: inherit;
}

.buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	border: 1px solid #000000;
	background: #cce0ed;
	border-radius: 20px;
	margin: 20px;
}

.css-input {
	padding: 10px;
	font-size: 16px;
	border-width: 1px;
	border-color: #000000;
	background-color: #ffffff;
	color: #000000;
	border-style: ridge;
	border-radius: 21px;
	text-align: center;
}
.css-input:focus {
	outline: none;
}
=======
body {
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

section {
}
>>>>>>> Stashed changes
=======
body {
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    margin-top: 250px;
}

section {
}
>>>>>>> Stashed changes
